body {
    width: 960px;
    margin: 0 auto;
    line-height: 1.2em;
    background: url(images/bg.jpg) no-repeat center;
}

header {
    height: 80px;
    padding: 20px 10px 0 30px;
}

nav {
    font-size: 1.2em;
    padding: 0.5em 1em;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    padding: 0.5em;
    color: var(--main-color);
}

nav a:hover {
    color: var(--highlight-color);
    text-decoration: none;
}

nav #login-button {
    float: right;
    margin: -0.3em -0.5em 0 0;
    font-size: 0.8em;
    padding: 0.2em 0.8em;
}

main {
    margin-top: 1em;
    padding: 1em 1em 2em;
}

#logged-section {
    float: right;
    text-shadow: 0 0 3px black;
}

#logged-section span {
    color: var(--highlight-color);
}

#logout-button {
    margin-left: 1em;
}

#logo {
    height: 80px;
    width: 500px;
     background: url(images/logo.svg) no-repeat;
    float: left;
    fill: red;
}

/* page specific */

#page-login {
    margin: 2em auto;
    width: 230px;
}

#page-login a {
    line-height: 2em;
}

#page-registration #game-description {
    width: 50%;
    float: left;
    margin-right: 5%;
}

#page-registration #game-registration {
    width: 45%;
    float: left;
}